.outerWrapper.Horizontal {
    height: 100%;
}


.Horizontal  nav.mainMenu {
    height: 100%;
}

.Horizontal  ul {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Horizontal  li {
    flex: auto;
    align-self: center;
    padding: 0.5em;
    
}

.Horizontal  div.spring {
    flex:100;

}

.Horizontal li a { 
    color: white;
    display: block;
    text-align: center;
    text-decoration:none;
    cursor:default;
    font-weight: bold;
    font-size: large;
    filter: drop-shadow(2px 2px 2px rgba(255, 0, 0, 0.5));
}

.Horizontal i a:hover {
    color:yellow;    
    cursor:pointer;    
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.5));
}




.outerWrapper.Vertical {
    height: 100%;
}


.Vertical  nav.mainMenu {
    height: 100%;
}

.Vertical  ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Vertical  li {
    flex: auto;
    align-self: center;
    padding: 0.5em;
    
}

.Vertical  div.spring {
    flex:100;

}

.Vertical li a { 
    color: white;
    display: block;
    text-align: center;
    text-decoration:none;
    cursor:default;
    font-weight: bold;
    font-size: large;
    filter: drop-shadow(2px 2px 2px rgba(255, 0, 0, 0.5));
}

.Vertical i a:hover {
    color:yellow;    
    cursor:pointer;    
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.5));
}

